@import url('https://fonts.googleapis.com/css2?fami?');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}
body{
position:relative;
min-height:100vh;
width:100;
overflow:hidden;
}
.sidebar{
position:fixed;
top:0;
left:0;
height:100%;
width:240px;
background:#11101d;
padding:6px 14px;
}
.sidebar .logo_content .logo{
color:#fff;
display:flex;
height:50px;
width:100%;
align-item:center;
}
.logo_content .logo i{
font-size:28px;
margin-right:5px;
}
.logo_content .logo .logo_name{
font-size: 20px;
font-weight: 400px;
}
.sidebar #btn{
position:absolute;
color:#fff;
left:90%;
top:6px;
font-size:20px;
height:50px;
width:50px;
text-align:center;
line-height:50px;
transform:translateX(-50);
}
.sidebar ul{
margin-top:20px;
}
.sidebar ul li{
position:relative;
height:50px;
width:100%;
margin:0 5px;
list-style:none;
line-height:50px;
border-radius:12px;
}
.sidebar ul li input{
position:absolute;
height:100%;
width:100%;
left:0;
top:0;
border-radius:12px;
outline:none;
border:none;
background:#1d1b31;
padding-left:50px;
font-size:18px;
color:#fff;
}
.sidebar ul li .bx-search{
position:absolute;
z-index:99;
color:#fff;
font-size:22px;
}
.sidebar ul li a{
color:#fff;
display:flex;
align-items:center;
text-declaration:none;
transition:all 0.4s ease;
}
.sidebar ul li a:hover{
color:#11101d;
background:#fff;
}
.sidebar ul li a i{
height:50px;
min-width:50px;
border-radius:12px;
line-height:50px;
text-align:center;
}
.sidebar .profile_content{
position:absolute;
color:#fff;
bottom:0;
left:0;
width:100%;
}
.sidebar .profile_content .profile{
position:relative;
padding:10px 6px;
height:60px;
background:#1d1b31;
}
.profile_content .profile .profile_details{
display:flex;
align-items:center;
}
.profile .profile_details img{
height:45px;
width:45px;
object-fit:cover;
border-radius:12px;
}
.profile .profile_details .name_job{
margin-left:10px;
}
.profile .profile_details .name{
font-size:15px;
font-weight:400px;
}
.profile .profile_details .job{
font-size:12px;
}
.profile #logout{
position:absolute;
left:88%;
bottom:5px;
transform:translateX(-50%);
min-width:50px;
line-height:50px;
font-size:20px;
border-radius:12px;
}
.home_content{
position:absolute;
height:100%;
width:calc(100%- 240px);
left:240px;
}
.home_conntent .text{
font-size:25px;
font-weight:500;
color:#1d1b31;
margin-top:12px;
}


.bg-navs{
   width: 100%;
  height: 1%;
}
.bg-app{
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    padding: 1px;
}

.background_color{
    background: #314755;
    background: -webkit-linear-gradient(to right, #314755, #26a0da);
    background: linear-gradient(to right, #314755, #26a0da);
    padding: 0% 0% 14.5% 0%;
}

#toast{
    position: absolute;
    top: 15%;
    right:30px;
    border-radius: 12px;
    background-color: white;
    padding: 10px 35px 20px 25px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    border-left: 10px solid green;
}

#toast .toast-content{
    display: flex;
    align-items: center;
}

#toast .toast-content .cheak{
    height: 35px;
    width: 35px;
    background: green;
    color: #fff;
    font-size: 20px;
}

#toast .toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mt-250{
    margin-top:250px;
}

.mt-325{
    margin-top:300px
}

.mt-001{
    margin-top: 150px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 320px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%;
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

.first-hotel{
    background-color: #FFC7C7;
    padding: 10px;
    margin: 50px 10px 10px 10px;
}
.second-hotel{
    background-color: #FFE2E2;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.third-hotel{
    background-color: #F6F6F6;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.fourth-hotel{
    background-color: #8785A2;
    padding: 10px;

    margin: 10px 10px 150px 10px;
}

footer
{
    position: relative;
    width: 100%;
    background: black;
    min-height: 100px;
    bottom: 0px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .menu li
{
    list-style: none;
}
footer .menu li a
{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
    transform: translateY(-10px);
}
footer p
{
    color:white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("image/wave.png");
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.6;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.4;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.8;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}