.bg-navs{
    background: #314755; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #314755, #26a0da); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #314755, #26a0da);
}

.bg-app{
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mt-250{
    margin-top:250px;
}

.mt-325{
    margin-top:300px
}

.mt-001{
    margin-top: 150px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 320px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.first-hotel{
    background-color: #FFC7C7;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.second-hotel{
    background-color: #FFE2E2;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.third-hotel{
    background-color: #F6F6F6;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.fourth-hotel{
    background-color: #8785A2;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}