@import url('https://fonts.googleapis.com/css2?fami?');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}
html{
    font-family: "Lato","Helvetica Neue", "Helvetica", "Arial", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}
ul {
  list-style-type: none;
 }
#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
  background-color: yellow;
  }
body{
    position:relative;
    min-height:100vh;
    width:100;
    overflow:hidden;
    margin: 0;
}
.nav_list{
    padding: 0px;
}
.sidebar{
    position:fixed;
    /*top:0;*/
    left:0;
    height:100%;
    width:78px;
    background:#11101d;
    padding:6px 14px;
    padding-top: 30px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width:240px;
}
.sidebar .logo_content .logo{
    color:#fff;
    display:flex;
    height:50px;
    width:100%;
    align-item:center;
    opacity:0;
    pointer-events:none;
    transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity:1;
    pointer-events:none;
}
.logo_content .logo i{
    font-size:28px;
    margin-right:5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400px;
}
.sidebar #btn{
    position:absolute;
    color:#fff;
    left:50%;
    top:6px;
    font-size:20px;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    transform:translateX(-50);
}
.sidebar.active #btn{
    left:90%;
}
.sidebar ul{
    margin-top:20px;
}
.sidebar ul li{
    position:relative;
    height:50px;
    width:100%;
    margin:0 5px;
    list-style:none;
    line-height:50px;
    border-radius:12px;
}
.sidebar ul li .tooltip{
    position:absolute;
    left:122px;
    top:50%;
    transform:translate(-50% ,-50%);
    border-radius:6px;
    height:35px;
    width:122px;
    background:#fff;
    line-height:35px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    transition:0s;
    opacity:0;
    pointer-events:none;
    display:block;
}
.sidebar.active ul li .tooltip{
    display:none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity:1;
    top:50%;
}
.sidebar ul li input{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    border-radius:12px;
    outline:none;
    border:none;
    background:#1d1b31;
    padding-left:50px;
    font-size:18px;
    color:#fff;
}
.sidebar ul li .bx-search{
    position:absolute;
    z-index:99;
    color:#fff;
    font-size:22px;
    transition:all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
    background:#fff;
    color:#1d1b31;
}
.sidebar ul li a{
    color:#fff;
    display:flex;
    align-items:center;
    text-declaration:none;
    transition:all 0.4s ease;
    border-radius:12px;
    white-space:nowrap;
}
.sidebar ul li a:hover{
    color:#11101d;
    background:#fff;
}
.sidebar ul li a i{
    height:50px;
    min-width:50px;
    border-radius:12px;
    line-height:50px;
    text-align:center;
}
.sidebar .links_name{
    opacity:0;
    pointer-events:none;
    transition:all 0.5s ease;
}
.sidebar.active .links_name{
    opacity:1;
    pointer-events:auto;
}
.sidebar .profile_content{
    position:absolute;
    color:#fff;
    bottom:0;
    left:0;
    width:100%;
}
.sidebar .profile_content .profile{
    position:relative;
    padding:10px 6px;
    height:60px;
    background:#1dab31;
    transition:all 0.4s ease;
}
.sidebar .active .profile_content .profile{
    background:none;
}
.profile_content .profile .profile_details{
    display:flex;
    align-items:center;
    opacity:0;
    pointer-events:none;
    white-space:nowrap;
}
.sidebar.active .profile .profile_details{
    opacity:1;
    pointer-events:auto;
}
.profile .profile_details img{
    height:45px;
    width:45px;
    object-fit:cover;
    border-radius:12px;
}
.profile .profile_details .name_job{
    margin-left:10px;
}
.profile .profile_details .name{
    font-size:15px;
    font-weight:400;
}
.profile .profile_details .job{
    font-size:12px;
}
.profile #logout{
    position:absolute;
    left:50%;
    bottom:5px;
    transform:translateX(-50%);
    min-width:50px;
    line-height:50px;
    font-size:20px;
    border-radius:12px;
    text-align:center;
    transition:all 0.4s ease;
    background:#1d1b31;
}
.sidebar .active .profile #log_out{
    left:88%;
}
.sidebar .active .profile #log_out{
    background:none;
}
.home_content{
    position:absolute;
    height:100%;
    left:78px;
    transition:all 0.5s ease;
}
.sidebar.active~.home_content{
    width:calc(100%- 240px);
    left:240px;
}
.bg-navs{
   width: 100%;
  height: 1%;
}
.bg-app{    /* used for color gradient for top lef */
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    padding: 1px;
}

.background_color{
    background: #314755;
    background: -webkit-linear-gradient(to right, #314755, #26a0da);
    background: linear-gradient(to right, #314755, #26a0da);
    padding: 0% 0% 14.5% 0%;
}
.restaurant_background_color{
    background: #FF0099;
    background: -webkit-linear-gradient(to right, #493240, #FF0099);
    background: linear-gradient(to right, #493240, #FF0099);

    padding: 0% 0% 14.5% 0%;
}

#toast{
    position: absolute;
    top: 15%;
    right:30px;
    border-radius: 12px;
    background-color: white;
    padding: 10px 35px 20px 25px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    border-left: 10px solid green;
}

#toast .toast-content{
    display: flex;
    align-items: center;
}

#toast .toast-content .cheak{
    height: 35px;
    width: 35px;
    background: green;
    color: #fff;
    font-size: 20px;
}

#toast .toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mt-250{
    margin-top:250px;
}

.mt-325{
    margin-top:300px
}

.mt-001{
    margin-top: 150px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 320px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}


.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%;
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}


.first-hotel{
    background-color: #FFC7C7;
    padding: 10px;
    margin: 50px 10px 10px 10px;
}
.second-hotel{
    background-color: #FFE2E2;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.third-hotel{
    background-color: #F6F6F6;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.fourth-hotel{
    background-color: #8785A2;
    padding: 10px;

    margin: 10px 10px 150px 10px;
}

footer
{
    margin-top: 100px;
    position: relative;
    width: 100%;
    background: black;
    min-height: 100px;
    bottom: 0px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .menu li
{
    list-style: none;
}
footer .menu li a
{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a i{
    font-size: 40px
}
footer .menu li a:hover
{
    opacity: 1;
    transform: translateY(-10px);
}
footer p
{
    color:white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("image/wave.png");
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.6;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.4;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.8;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

header{
    height: 80px;
    background-color: #FFFFFF;
}
#header-container{
    weight: 75%;
    margin: auto;
}
#header-container a {
  color: white;
  padding: 15px;
}
#header-container a:hover {
  background-color: #ddd;
  color: black;
}
.cts_logo{
    float: right;
}
.col-3{
    width: 33%;
    float: left;
    margin-left: -180px;
}
.top-nav{
    margin-top: 32px;
    text-align: center;
}
.top-nav a{
    list-style-type: none;
    display: inline;
    font-size: .85em;
    color: #8e8e8e;
    padding-right:30px;
    text-decoration: none;
}
.getnewrestaurantbtn{
    margin-top: 10px;
    margin-right: -1130px;
    background-color: #6dc77a;
    border-radius:28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 26px;
    display: inline-block;
    font-size: 17px;
    float: right
}
#top-section-main{
    background-image: url("image/Food banner.jpg");
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 551px;
    border: none;
}
#top-section-content{
    width: 60%;
    padding-top: 70px;
    padding-left: 2px;
    color: snow;
    font-size:larger;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section-content h1{
    font-size: 4em;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;

}
#top-section-content p{
    font-size: 1.3em;
    color: #B30753;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;

}
.location_search{
    margin-left: 13em;
    margin-top: 8em;
}
.location_search input{
    margin: 0px;
    height: 40px;
    font-size: 15px;
    padding-left:15px;
    font-weight:100;
    border: 2%;
    width: 30%
}
.location_search button{
    width: 10%;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    background-color: #6dc77a;
    color: #FFFFFF;
    border: 2%;
    text-align: center;
}
.div-col-3{
    width: 20%;
    float: left;
    padding: 6px;

}
.div-top-nav{
    margin-top: 32px;
    text-align: left;
}
.div-top-nav li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    color: #000105;
    padding-right:30px;
    font-weight: bold;
    margin-left: 50px;
}
.gotobtn{
    width: 45%;
    background-color: #6dc77a;
    border-radius:28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 26px 10px 26px;
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    margin-left: 500px;
}
hr {
   width: 68%;
   margin-right: 20em;
   margin-left: auto;
   opacity: 0.5;
}
.feature-content {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 35px;
}
.feature-content .col-3 img{
    width: 100%;
}
.feature-content .col-3 {
    padding: 10px;
    width: 32%;
}
.feature-content .col-3 h3{
    color: #454857;
}
.feature-content .col-3 p{
    font-size: .9em;
    letter-spacing: 1px;
    color: #888A94;
    font-family: "Lato","Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* ########### for new vendor Registration CSS ########### */
.vendor-container{
    margin-left: 0px;
}
.navbar-header{
    margin-top:0px;
}
.navbar-header a{
    text-decoration: none;
}
.navbar-header p{
    display: inline;
    padding-left: 10px;
    color: orange;
    font-size: 30px;
    font-weight: bold;
}
.page-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFF;
    margin-top: 0px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
    padding: 20px 30px;
}
.page-title h1 {
    font-size: 26px;
    margin-top: 0px;
    height: 50px;
}
.ul-vendor-title{
    float:right;
    height: 50px;
}
.breadcrumb {
    font-size:24px;
    padding-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.breadcrumb>li+li:before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc;
}
.Vendor_file_content {
    opacity: 0.7;
    font-size: 12px;
}
.col-md-12
{
    width: 100%x;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.row {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
#VendorsNew{
    padding-top: 5%;
}
.page-heading {
    height: 30vh;
}
.intro {
    width: 100%;
    position: relative;
    margin-top: 60px;
}
.hue-rr {
    background-image: linear-gradient(273deg,#ec7a4c,#d44005);
    background-size: cover;
    background-position: center;
}
.h-100 {
    height: 100%!important;
}
.d-flex {
    display: flex!important;
}
@media (min-width: 768px)
.restaurant-container {
    max-width: 720px;
}
.align-self-center {
    align-self: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.restaurant-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}








#special {
  background: #0D0D0D;
  min-height: 100vh;
}

#special .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  color: #fff;
}

#special .heading h1 span {
  color: #FFF200;
}

#special .heading p {
  color: #ccc;
  font-size: 2rem;
}

#special .card-container {
  width: 95%;
  margin: 7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#special .card-container .card {
  height: 40rem;
  width: 30rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

#special .card-container .card img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#special .card-container .card p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

#special .card-container .card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 14rem;
  background: #333;
  color: #fff;
}

#special .card-container .card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#special .card-container .card button:hover::before {
  width: 100%;
}

#special .card-container .card button:hover {
  color: #333;
}

#special .card-container .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}














*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: #cb202d;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 120px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items-1{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.food-items-1 img
{
 position: relative;
    margin-bottom: -33px;
    width: 100%;
    height: 97%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}
.details>button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: salmon;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

.details>button:hover::before {
  width: 100%;
}

.details>button:hover {
  color: #333;
}





