<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/Loader.js') }}"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>
    <div class="menu">
        <div class="heading">
            <h1>CHICKEN BISTRO</h1>
            <h3>&mdash; MENU &mdash; </h3>
             <div>
                 <ul class="breadcrumb" style="margin-left: 1300px;margin-right:115px;margin-top: -100px;margin-bottom: 100px">
                     <li><a href="/BIT/Quickfood/2/chickenrestaurant"><em class="glyphicon glyphicon-arrow-left"></em></a>
                     </li>
                     <li><a href="/BIT/Quickfood/2/home"><em class="glyphicon glyphicon-home"></em></a></li>
                 </ul>
             </div>
        </div>

       <div class="food-items">
            <img src="{{ url_for('static', filename='image/soup.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Manchow Soup</h5>
                    <h5 class="price"> ₹100 </h5>
                    <p>A spicy pepper-based soup loaded with shredded chicken</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

         <div class="food-items">
            <img src="{{ url_for('static', filename='image/burger.jpg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Smoky Hamburger</h5>
                    <h5 class="price"> ₹150 </h5>
                    <p>Flame grilled Tandoori Chicken, mint sauce with fresh onion with our unique corn dust buns. An indulgent treat from our King's Collection!</p>
                </div>
                <p></p>
                 <button>Order now</button>
            </div>
        </div>

        <div class="food-items-1">
            <img src="{{ url_for('static', filename='image/img_6.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken 65</h5>
                    <h5 class="price"> ₹120 </h5>
                    <p>Lightly battered and deep fried chicken pieces tossed in a mild spicy sauce.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items">
            <img src="{{ url_for('static', filename='image/chicken.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Honey Garlic Chicken</h5>
                    <h5 class="price"> ₹150 </h5>
                     <p>Lightly battered and deep fried chicken pieces tossed in Honey.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items">
            <img src="{{ url_for('static', filename='image/img.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Briyani</h5>
                    <h5 class="price"> ₹160 </h5>
                    <p>Richly flavored aromatic rice layered with Tandoori chicken pieces in a delicate blend of whole spices served with raita and gravy.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items">
            <img src="{{ url_for('static', filename='image/img_7.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Tandoori</h5>
                    <h5 class="price"> ₹240 </h5>
                    <p>Tandoor-cooked chicken chunks marinated in a yogurt and chiilli based masala; served with onions and chutney.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items-1">
            <img src="{{ url_for('static', filename='image/img_11.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Pepper Chicken Gravy</h5>
                    <h5 class="price"> ₹160 </h5>
                    <p>A Indian specialty, chicken gravy seasoned with aromatic flavors of black pepper and other spices</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items">
            <img src="{{ url_for('static', filename='image/Spaghetti.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Spaghetti</h5>
                    <h5 class="price"> ₹120 </h5>
                    <p> A wholesome combo of scrumptious chicken Spaghetti.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

         <div class="food-items-1">
            <img src="{{ url_for('static', filename='image/img_9.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Hyderabadi Chicken Dry</h5>
                    <h5 class="price"> ₹165 </h5>
                    <p>A classi dish of batter coated & deep fried chicken pieces flavoured with chilli sauce & other condiments.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

         <div class="food-items">
            <img src="{{ url_for('static', filename='image/img_8.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Tandoori Briyani</h5>
                    <h5 class="price"> ₹180 </h5>
                    <p>Richly flavored aromatic rice layered with Tandoori chicken pieces in a delicate blend of whole spices served with raita and gravy.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

       <div class="food-items">
            <img src="{{ url_for('static', filename='image/img_10.png') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Fried Rice</h5>
                    <h5 class="price"> ₹120 </h5>
                    <p>A slightly spicy dish made by tossing juicy chicken and rice in a flavorful sauce.</p>
                </div>
                <p></p>
                <button>Order now</button>
            </div>
        </div>

        <div class="food-items">
            <img src="{{ url_for('static', filename='image/Sandwich.jpeg') }}">
            <div class="details">
                <div class="details-sub">
                    <h5>BBQ Sandwich</h5>
                    <h5 class="price"> ₹100 </h5>
                    <p>Spicy Fried Chicken, loads of sauces in soft square masala buns. It's hot and happening.</p>
                </div>
                <p></p>
                <button>Order now</button>

            </div>
        </div>
    </div>
        <footer>

        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="menu"><div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-6 col-sm-3">
                <div class="footer-links">
                  <ul>
                      <h3 style="color: white">Company</h3>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">How It Works?</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href=#">FAQs</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-6 col-sm-3">
                <div class="footer-links">
                  <ul>
                       <h3 style="color: white">Help &amp; Support</h3>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Callback Request</a></li>
                    <li><a href="#">Cancellation Request</a></li>
                    <li><a href="#">Feedback/ Complaint</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="footer-links">
                  <ul>
                        <h3 style="color: white">Partnerships</h3>
                    <li><a href="#">Restaurant Signup</a></li>
                    <li><a href="#">Tour Operator Signup</a></li>
                  </ul>
                  <br>
                  <ul>
                      <h3 style="color: white">Other Link</h3>
                    <li><a href="#">Customer Reviews</a></li>
                    <li><a href="#">Pure Veg Food</a></li>
                    <li><a href="#">Non Veg Food</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="footer-links">
                  <h3 style="color: white;margin-left: 120px">Contact Us</h3>
                  <p>
                    REBELS <br> WEB APPLICATION <br> COIMBATORE <br>
                    <strong>Phone:</strong> +91 1234567890 <br>
                    <strong>Email:</strong> info@rebels.com<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
            <li ><a href="#"><i class='bx bxl-twitter fa-lg' style="height: 24px"></i></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"><i class='bx bxl-facebook-circle' ></i></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"><i class='bx bxl-instagram-alt' ></i></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"><i class='bx bxl-linkedin-square' ></i></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"><i class='bx bxl-youtube' ></i></a></li>

        </ul>
        <p>©2022 Online food Reservation | Proudly created by Rebels</p>
    </footer>
</body>
</html>