{% extends 'base.html' %}

{%  block body  %}
<div class="col-3">
    <a href="/BIT/Quickfood/2/restaurant/login" class="getnewrestaurantbtn" style="background-color: red">LOG OUT</a>
</div><br>
<form class="form" action="" method="post" enctype="multipart/form-data">
    <center>
        <div class="form">
            <div class="card mt-325">
                <div class="card-body">
                    <div class="card-body">
                        <h1 class="text-center">Please sign in</h1><br>
                        <div class="form-floating">
                            <label>Dish Type</label><br>
                            <input type="text" name="Veg/Non-Veg" id="Dish">
                        </div>
                        <div class="form-floating mt-3">
                            <label>Item</label><br>
                            <input type="text" name="Item" id="Item">
                        </div>
                        <div class="form-floating">
                            <label>Quantity</label><br>
                            <input type="text" name="Veg/Non-Veg" id="Quantity">
                        </div>
                        <div class="form-floating mt-3">
                            <label>Price</label><br>
                            <input type="text" name="Item" id="Price">
                        </div>
                        <div class="form-floating">
                            <label>Image of the dish</label><br>
                            <input type="text" name="Veg/Non-Veg" id="Image">
                        </div>
                        <input type="button" name="button" id="btn" value="Add" onclick="AddRow()" onclick="onreset(0)">
                    </div>
                </div>
            </div>
        </div>

        <table id="show">
            <thead>
            <tr>
                <th>Dish</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Image-URL</th>
            </tr>
            </thead>
        </table>
    </center>
    <input type="submit" class="btn btn-primary btn-block btn-lg mt-3" value="Add Dish">
</form>

<script>

		var list1 = [];
		var list2 = [];
		var list3 = [];
		var list4 = [];
		var list5 = [];

		var n = 1;
		var x = 0;

		function AddRow(){

			var AddRown = document.getElementById('show');
			var NewRow = AddRown.insertRow(n);

			list1[x] = document.getElementById("Dish").value;
			list2[x] = document.getElementById("Item").value;
			list3[x] = document.getElementById("Quantity").value;
			list4[x] = document.getElementById("Price").value;
			list5[x] = document.getElementById("Image").value;

			var cel1 = NewRow.insertCell(0);
			var cel2 = NewRow.insertCell(1);
			var cel3 = NewRow.insertCell(2);
			var cel4 = NewRow.insertCell(3);
			var cel5 = NewRow.insertCell(4);

			cel1.innerHTML = list1[x];
			cel2.innerHTML = list2[x];
			cel3.innerHTML = list3[x];
			cel4.innerHTML = list4[x];
			cel5.innerHTML = list5[x];
			n++;
			x++;
		}




</script>
<style>
	table{
	margin-top: 50px;
	text-align: center;
	background: #333;
	color: #fff;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}



</style>
{%  endblock  %}