{% extends 'base.html' %}

{%  block body  %}
<div class="background_color">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card mt-001">
            <div class="card-body">
              <form class="form" action="/create/account" method="post">
                  <label>First Name</label><br>
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" required><br>
                  <label>Last Name</label><br>
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" required><br>
                  <label>Email</label><br>
                  <input type="email" class="form-control" name="E-mail" placeholder="Email Id" required><br>
                  <label>Password</label><br>
                  <input type="password" class="form-control" name="password" placeholder="Password" required><br>
                  <label>Confirm Password</label><br>
                  <input type="password" class="form-control" name="confire_password" placeholder="Re-type Password" required><br>
                  <label>Phone no</label><br>
                  <input type="number" class="form-control" name="contact_no" placeholder="Phone Number" required><br>
                  <input type="checkbox" required>
                  <label>I agree to Bannari Amman <span style="color:red">Terms of Service</span>,<span style="color:red"> Privacy Policy</span> and <span style="color:red"> Content Policies</span>
                  </label>
                  <input type="submit" class="btn btn-primary btn-block btn-lg" value="SIGN IN">
              </form>
                <p class="mt-3">Sign in? <a href="/">Login</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{%  endblock  %}